
.row {
    display: flex;
   
    min-width: 10%;
    
}

.compose {
   
    min-width: 50%;
    min-height: 20%;
    margin-left: 20%;
}

.dark {
    background-color: rgb(71, 45, 5);
    color: white;
   
}

.medium {
    background-color: tan;
}

.light {
    background-color: white;
}


ul li {
    list-style: none;
    padding: 10px;
    font-size: 20px;
}

.welcome {
    font-size: 20px;
    padding: 10px;
}

.welcome {
    display: inline-flex;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.welcome img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-top: 20px;
    width: 70px;
    height: 70px;
}

.welcome p {
    padding: 10px;
    margin-top: 20px;
}
