.left {
    background-color: rgba(10, 10, 102, 0.945);
    color: white;
    
}

.left img {
    height: 60px;
    margin-top: 20px;
    margin-left: 100px;
    width: 60px;
}

.left p {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 15px;
}

.top {
    margin-left: 70px;
}

.bottom {
   margin-top: 40px;
   margin-right: 200px;
   margin-bottom: 20px;
}


.bottom ul {
    list-style: none;
}

.middle {
    background-color: grey;
}

.right {
    background-color: white;
}